html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.logo-horizan{
  display: block;
  height: auto;
  max-width: 13%;
}
.row {
    justify-content: space-evenly;
  }
  .image video {
    border-radius: 50%;
    width: 100% !important;
    height: inherit !important;
  }

  .image.alignright:after {
    left: auto;
    right: 0;
  }

  figure {
    display: block;
    margin: 0;
  }

  .image figure {
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 20px;
  }

  .image:after {
    left: 0;
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    opacity: 0.78;
    background-color: #007bff;
    border-radius: 50px;
    bottom: 60px;
    animation: 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) 0s infinite
      alternate none running heartbeat;
    z-index: 1;
  }
  :root {
    --main-color: #007bff;
    --color1: #474b68;
  }